<section class="advantage block">
   <div class="container">
      <h2 class="title advantage__title">Стройные девушки всегда получают больше</h2>
      <div class="advantage__content">
         <div class="advantage__item">
            <img src="img/advantage-1.png" alt="photo" class="photo">
            <p class="text">Возможность&nbsp;<br>не испытывать вину, если съела что-то калорийное</p>
         </div>
         <div class="advantage__item">
            <img src="img/advantage-2.png" alt="photo" class="photo">
            <p class="text">Внимание мужчин&nbsp;<br>и крепкие отношения</p>
         </div>
         <div class="advantage__item">
            <img src="img/advantage-3.png" alt="photo" class="photo">
            <p class="text">Удовольствие от выбора одежды</p>
         </div>
         <div class="advantage__item">
            <img src="img/advantage-4.png" alt="photo" class="photo">
            <p class="text">Восхищение&nbsp;<br>
               и комплименты окружающих</p>
         </div>
      </div>
      <div class="advantage__result">
         <span class="ttl">Не теряй это!</span>
         <p class="effect">
            Все твои полненькие подружки будут распрашивать,&nbsp;<br>
            как тебе удалось так быстро похудеть!
         </p>
      </div>
   </div>
</section>