<section class="calculate block" id="calculate">
	<div class="container">
		<h2 class="title calculate__title">Кто сказал, что худеть легко?</h2>
		<div class="calculate__block">
			<div class="big-calories">
				<h4 class="ttl">Сколько калорий&nbsp;<br>в обычном дневном рационе</h4>
				<p class="value">
					<span class="start">2000</span>-<span class="finish">2500</span>
				</p>
				<span class="name">калорий</span>
				<div class="img-wrap">
					<img src="img/big-calories.png" alt="big-calories" class="photo">
					<p class="text">Если ты ешь вкусно&nbsp;<br>и не голодаешь</p>
				</div>
			</div>
			<div class="small-calories">
				<h4 class="ttl">Сколько калорий нужно съесть,&nbsp;<br>чтобы похудеть</h4>
				<p class="value">
					<span class="start">1000</span>-<span class="finish">1500</span>
				</p>
				<span class="name">калорий</span>
				<div class="img-wrap">
					<img src="img/small-calories.png" alt="small-calories" class="photo">
					<p class="text">Тебе придется отказаться&nbsp;<br>
						от мучного, жирного и сладкого</p>
				</div>
			</div>
		</div>
		<div class="calculate__content">
			<div class="item">
				<img src="img/calculate-1.png" alt="photo" class="item__photo">
				<p class="item__text">У тебя наворачиваются слезы на глазах от одной мысли о&nbsp;таком рационе?</p>
			</div>
			<div class="item">
				<img src="img/calculate-2.png" alt="photo" class="item__photo">
				<p class="item__text">Садилась на диету сотни раз, но постоянно срывалась?</p>
			</div>
			<div class="item">
				<img src="img/calculate-3.png" alt="photo" class="item__photo">
				<p class="item__text">Жизнь становится безрадостной без&nbsp;<br>
					любимой еды?</p>
			</div>
		</div>
		<p class="calculate__result">Страдать не обязательно –&nbsp;<br>вы легко похудеете с <span class="darkish-pink">Yummy</span><span
			 class="squash">Fit</span>!</p>
	</div>
	<div class="scroll-bth scroll-bth--white js-scroll">
		<a href="#reduce">
			<i class="fico fico-caret-down"></i>
		</a>
	</div>
</section>