<section class="components block">
  <div class="container">
    <h2 class="title components__title">
      <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>:
      позволяет не поправляться&nbsp;<br />и худеть на 3-7&nbsp;кг с&nbsp;первых
      дней применения
    </h2>
    <p class="components__desc">
      благодаря уникальному миксу всех популярных жиросжигающих экстрактов
    </p>
    <div class="components__content">
      <div class="item">
        <img src="img/component-1.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Семена чиа</h4>
        <p class="item__text">
          Сохраняет объем груди и&nbsp;поддерживает ее мышцы для&nbsp;подтянутых
          линий.
        </p>
      </div>
      <div class="item">
        <img src="img/component-2.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Спирулина</h4>
        <p class="item__text">
          Проводит естественную детоксикацию организма, выводит шлаки, избавляет
          от&nbsp;целлюлита.
        </p>
      </div>
      <div class="item">
        <img src="img/component-3.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Годжи</h4>
        <p class="item__text">
          Улучшает метаболизм, сжигает жиры и фигура становится сексуальной.
        </p>
      </div>
      <div class="item">
        <img src="img/component-4.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Имбирь</h4>
        <p class="item__text">
          Ускоряет обмен веществ и&nbsp;помогает быстро избавляться от лишних
          килограммов.
        </p>
      </div>
      <div class="item">
        <img src="img/component-5.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Ферула</h4>
        <p class="item__text">
          Регулирует скорость обмена веществ. Витамины В3, РР поддерживают
          красоту и&nbsp;молодость кожи, волос.
        </p>
      </div>
      <div class="item">
        <img src="img/component-6.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Сафлора</h4>
        <p class="item__text">
          Помогает кишечнику выводить шлаки и&nbsp;токсичные вещества.
        </p>
      </div>
      <div class="item">
        <img src="img/component-7.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Калган</h4>
        <p class="item__text">Улучшает состояние кожи, делает ее эластичной.</p>
      </div>
      <div class="item">
        <img src="img/component-8.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Кардамон</h4>
        <p class="item__text">
          Нормализует пищеварение, способствует похудению и&nbsp;улучшает тонус
          кожи.
        </p>
      </div>
    </div>
    <div class="components__result">
      <h4 class="ttl">Вывод:</h4>
      <p class="text">
        сочетание мощнейших растительных компонентов&nbsp;<br />запустит твое
        похудение, независимо от твоей диеты.
      </p>
    </div>
  </div>
</section>
