<section class="components block" id="components">
  <div class="container">
    <h2 class="title components__title wow fadeInDown">
      <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>:
      позволяет не поправляться&nbsp;<br />и худеть на 3-7&nbsp;кг с&nbsp;первых
      дней применения
    </h2>
    <p class="components__desc wow fadeInDown">
      благодаря уникальному миксу всех популярных жиросжигающих экстрактов
    </p>
    <div class="components__content">
      <div class="item wow fadeInDown" data-wow-delay="0.1s">
        <img src="img/component-1.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Готу кола</h4>
        <p class="item__text">
          Сохраняет объем груди
          и&nbsp;тонизирует кожу для подтянутых линий.
        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.15s">
        <img src="img/component-2.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">ДНК лососевых</h4>
        <p class="item__text">
          Регулирует скорость жирового обмена. Поддерживает красоту
          и&nbsp;молодость кожи, волос.

        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.2s">
        <img src="img/component-3.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Матча</h4>
        <p class="item__text">
          Улучшает метаболизм, сжигает жиры и фигура становится сексуальной.
        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.25s">
        <img src="img/component-4.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Створки фасоли</h4>
        <p class="item__text">
          Проводят естественную детоксикацию организма, выводят шлаки, придают
          свежий&nbsp;вид.
        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.3s">
        <img src="img/component-5.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Сушеница топяная</h4>
        <p class="item__text">
          Ускоряет обмен веществ
          и&nbsp;помогает быстро избавляться от&nbsp;лишних килограммов.
        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.35s">
        <img src="img/component-6.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Сафлора</h4>
        <p class="item__text">
          Помогает кишечнику выводить шлаки и&nbsp;токсичные вещества.
        </p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.4s">
        <img src="img/component-7.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Калган</h4>
        <p class="item__text">Улучшает состояние кожи, делает ее эластичной.</p>
      </div>
      <div class="item wow fadeInDown" data-wow-delay="0.45s">
        <img src="img/component-8.png" alt="img" class="item__photo" />
        <h4 class="item__ttl">Хлорелла</h4>
        <p class="item__text">
          Нормализует пищеварение, способствует похудению и&nbsp;улучшает тонус
          кожи.
        </p>
      </div>
    </div>
    <div class="components__result">
      <h4 class="ttl">Вывод:</h4>
      <p class="text">
        сочетание мощнейших растительных компонентов&nbsp;<br />запустит твое
        похудение, независимо от твоей диеты.
      </p>
    </div>
  </div>
  <div class="scroll-bth scroll-bth--white js-scroll">
    <a href="#refuse">
      <i class="fico fico-caret-down"></i>
    </a>
  </div>
</section>