<section class="dietolog block">
    <div class="container">

        <h2 class="title title-dietolog">Почему именно <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
            выбрали профессиональные диетологи </h2>

        <p class="subtitle-dietolog">для клиентов любого пола и&nbsp;возраста</p>

        <div class="dietolog__wrap">

            <p class="dietolog__name">Кристина Полякова</p>
            <p class="dietolog__position">Диетолог</p>

            <p class="dietolog__quote">В похудении ценится скорость, безопасность и то,<br> не будет ли похудевший
                человек выглядеть болезненно. </p>

            <p class="dietolog__text">Если выпивать по две порции <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
                в день, то заметно стройнее можно стать уже через 2 недели, а вид при этом сохраняется на все сто,
                независимо от режима питания человека. Благодаря <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
                организм насыщается витаминами и микроэлементами, а не теряет их. И в итоге волосы, ногти и&nbsp;кожа
                выглядят великолепно, а человек остается энергичен и бодр. Это&nbsp;лучшее на сегодняшний день средство
                для похудения.</p>

            <div class="dietolog__signature">
                <img src="img/dietolog-signature.png" alt="подпись">
            </div>

            <div class="dietolog__img">
                <img src="img/dietolog.png" alt="диетолог">
            </div>

        </div>

    </div>
</section>