<header class="header block">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <h2 class="header__title">
                    Две порции <span class="header__title_pink">Yummy</span><span class="header__title_orange">Fit</span>
                    –<br>
                    минус 1000 ккал в день,</h2><br>
                <p class="header__title_size">
                    <span class="header__title_decoration-one">независимо от твоего</span><br>
                    <span class="header__title_decoration-two">режима питания!</span>
                </p>
            </div>
            <div class="header__aboutUS">
                <p class="header__aboutUS-title">О нас пишут:</p>
                <div class="header__aboutUS-item">
                    <img src="img/aboutUS_one.png" alt="VOGUE">
                </div>
                <div class="header__aboutUS-item">
                    <img src="img/aboutUS_two.png" alt="COSMOPOLITAN">
                </div>
                <div class="header__aboutUS-item">
                    <img src="img/aboutUS_three.png" alt="ELLE">
                </div>
            </div>
        </div>
        <div class="header__cont">
            <div class="header__food">
                <img src="img/header_food.png" alt="food">
            </div>
            <div class="header__description">
                <div class="header__text">
                    <p class="header__text-desc">
                        <span class="header__text-desc_size"><span class="header__text-desc_orange">Утренняя</span>
                            порция — </span> <br>
                        &nbsp;ускоряет метаболизм,
                        мгновенно перерабатывая
                        пищу в энергию.<br>
                        Диета не нужна!
                    </p>
                    <p class="header__text-desc">
                        <span class="header__text-desc_size"><span class="header__text-desc_pink">Вечерняя</span>
                            порция —</span> <br>
                        &nbsp;уничтожает жир, который
                        уже есть в организме,
                        равный употреблению<br>
                        1000 ккал!
                    </p>
                </div>
                <div class="header__product">
                    <img src="img/header_product.png" alt="product">
                    <p class="header__product-morning">
                        Утро
                    </p>
                    <p class="header__product-evening">
                        Вечер
                    </p>
                </div>
                <div class="header__scales">
                    <img src="img/header_scales.png" alt="scales">
                </div>
            </div>
            <div class="form">
                <div class="form__bg">
                    <h2 class="form__title">
                        Успейте заказать
                        со&nbsp;скидкой<br>
                        <span class="form__title_color">до <span class="date-0">25.12.2018</span></span>
                    </h2>
                    <div class="price">
                        <div class="price__before">
                            <p class="price__before-title">Старая цена</p>
                            <p class="price__before-val"><span class="x_price_previous">1980</span> <span class="x_currency">руб</span></p>
                        </div>
                        <div class="price__after">
                            <p class="price__after-title">Новая цена</p>
                            <p class="price__after-val"><span class="x_price_current">990</span> <span class="x_currency">руб</span><span
                                    class="price__star">*</span></p>
                        </div>
                    </div>
                    <p class="form__pack">
                        Осталось упаковок
                        со скидкой: <span class="form__pack_color lastpack">12</span>
                    </p>
                </div>
                <form action="/submit" method="post" class="x_order_form form__cont">
                    <div class="form__input-name">
                        <input type="text" name="name" placeholder="Моё имя" required autocomplete="name" class="form__input">
                    </div>
                    <div class="form__input-phone">
                        <input type="tel" name="phone" placeholder="Мой телефон" required autocomplete="tel" class="form__input">
                    </div>
                    <button type="/sybmit" class="form__btn">
                        Заказать
                        <span class="form__btn_size">со скидкой</span>
                    </button>
                </form>
                <p class="form__star-description">*при заказе курса</p>
                <p class="form__bottom">Оплата после получения</p>
            </div>
        </div>

    </div>
</header>
<div class="header__bottom">
    <div class="container">
        <div class="header__item">
            <p class="header__item-link one">
                Ешь любую еду,<br>
                какую захочешь
            </p>
            <p class="header__item-link two">
                Худей до своего<br>
                идеального веса
            </p>
            <p class="header__item-link three">
                Забудь о возвращении<br>
                лишних килограмм
            </p>
        </div>
    </div>
</div>