<section class="instruction block" id="instruction">
    <div class="container">
        <h2 class="title wow fadeInDown">
            Как принимать шипучий гель <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
        </h2>
        <div class="instruction__cont">
            <div class="instruction__product">
                <img src="img/prod-refuse.png" alt="product">
            </div>
            <div class="instruction__text">
                <p class="instruction__title">
                    С <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> тебе позволено все!
                </p>
                <p class="instruction__description">
                    Выпей 1 стик за 30 минут до еды, и не отказывай себе
                    даже в самой калорийной еде! Формула <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
                    будет активно сжигать поступающие калории.
                </p>
                <div class="instruction__warning">
                    <p class="instruction__warning-title">
                        Будь осторожна!
                    </p>
                    <p class="instruction__warning-description">
                        <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> – сильнейший сжигатель
                        жира.<br>
                        Он дает очень мощный эффект.<br>
                        Потому <span class="instruction__warning-description_color">нельзя принимать более 2 стиков в
                            сутки!</span><br>
                        Слишком резкая потеря веса может дать большую нагрузку на органы.
                    </p>
                </div>
            </div>
        </div>
        <button class="form__btn instruction__bg ever-popup-btn">
            Заказать
            <span class="form__btn_size">со скидкой</span>
        </button>
    </div>
</section>