<section class="journal block" id="journal">
    <div class="container">
        <h2 class="title">
            Все популярные журналы уже написали<br>
            о лучшем средстве для похудения – <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
        </h2>
        <div class="journal__cont">
            <div class="journal__item">
                <img src="img/journal_one.png" alt="journal one">
            </div>

            <div class="journal__item">
                <img src="img/journal_two.png" alt="journal one">
            </div>

            <div class="journal__item">
                <img src="img/journal_three.png" alt="journal one">
            </div>

            <div class="journal__item">
                <img src="img/journal_four.png" alt="journal one">
            </div>

            <div class="journal__item">
                <img src="img/journal_fife.png" alt="journal one">
            </div>
        </div>
        <h2 class="journal__title">
            Начни пить <span class="darkish-pink">Yummy</span><span class="squash">Fit,</span>
        </h2>
        <p class="journal__subtitle">
            и уже через неделю ты увидишь эффект в зеркале!
        </p>
        <button type="/sybmit" class="form__btn journal__btn">
            Заказать
            <span class="form__btn_size">со скидкой</span>
        </button>
    </div>
</section>