<section class="order block">
    <div class="container">
        <h2 class="title">
            Заказать оригинальный <span class="darkish-pink">Yummy</span><span class="squash">Fit</span><br>
            можно только на этом сайте
        </h2>
        <div class="order__cont">
            <div class="order__item">
                <div class="order__item-img">
                    <img src="img/order_one.png" alt="form" class="width">
                </div>
                <p class="order__item-title">
                    Заполните форму заказа
                </p>
                <p class="order__item-description">
                    Укажите только свое имя<br>
                    и номер телефона
                </p>
            </div>
            <div class="order__item">
                <div class="order__item-img">
                    <img src="img/order_two.png" alt="woman">
                </div>
                <p class="order__item-title">
                    Ответьте на звонок оператора
                </p>
                <p class="order__item-description">
                    Он уточнит ваши адресные<br>
                    данные
                </p>
            </div>
            <div class="order__item">
                <div class="order__item-img">
                    <img src="img/order_three.png" alt="product">
                </div>
                <p class="order__item-title">
                    Оплатите после получения
                </p>
                <p class="order__item-description">
                    Доставка бесплатная
                </p>
            </div>
        </div>
    </div>
</section>