<div class="ever-popup-build">
    <div class="popup__wrap" id="cloneThis">
        <div class="popup">
            <div class="popup__left">
                <p class="popup__name"><span class="darkish-pink">Yummy</span><span class="squash">Fit</span></p>
                <div class="popup__prod">
                    <img src="img/prod-reduce.png" alt="YummyFit">
                    <div class="popup__glassful">
                        <img src="img/glassful.png" alt="стакан">
                    </div>
                </div>
            </div>
            <div class="popup__right">
                <div class="form form-popup">
                    <div class="form__bg">
                        <h2 class="form__title">Успейте заказать со&nbsp;скидкой<br>
                        <span class="form__title_color">до <span class="date-0">11.01.2019</span></span></h2>
                        <div class="price">
                            <div class="price__before">
                                <p class="price__before-title">Старая цена</p>
                                <p class="price__before-val"><span class="x_price_previous">1980</span> <span class="x_currency">руб</span></p>
                            </div>
                            <div class="price__after">
                                <p class="price__after-title">Новая цена</p>
                                <p class="price__after-val"><span class="x_price_current">990</span> <span class="x_currency">руб</span><span class="price__star">*</span></p>
                            </div>
                        </div>
                        <p class="form__pack">Осталось упаковок со скидкой: <span class="form__pack_color lastpack">15</span></p>
                    </div>
                    <form action="/submit" class="x_order_form form__cont" method="post">
                        <div class="form__input-name">
                            <input autocomplete="name" class="form__input" name="name" placeholder="Моё имя" required="" type="text">
                        </div>
                        <div class="form__input-phone">
                            <input autocomplete="tel" class="form__input" name="phone" placeholder="Мой телефон" required="" type="tel">
                        </div><button class="form__btn" type="/sybmit">Заказать <span class="form__btn_size">со скидкой</span></button>
                    </form>
                    <p class="form__star-description">*при заказе курса</p>
                    <p class="form__bottom">Оплата после получения</p>
                </div>
            </div>
        </div>
    </div>
</div>