<section class="reduce block" id="reduce">
	<div class="container">
		<h2 class="title title-reduce wow fadeInDown"><span class="darkish-pink">Yummy</span><span class="squash">Fit</span>:
			2 порции
			сжигают от&nbsp;1000 ккал</h2>

		<p class="subtitle-reduce">А значит, с <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> ты
			похудеешь,<br> даже если съела очень много вредной, но такой вкусной&nbsp;еды</p>

		<div class="reduce__wrap">

			<div class="reduce__left">
				<div class="reduce__item">
					<div class="reduce__img">
						<img src="img/burger-reduce.png" alt="бургер">
					</div>
					<div class="reduce__info">
						<p class="reduce__number">500</p>
						<p class="reduce__calorie">калорий</p>
					</div>
				</div>
				<div class="reduce__item">
					<div class="reduce__img">
						<img src="img/chocolate.png" alt="шоколад">
					</div>
					<div class="reduce__info reduce__info-chocolate">
						<p class="reduce__number">250</p>
						<p class="reduce__calorie">калорий</p>
					</div>
				</div>
				<div class="reduce__item">
					<div class="reduce__img reduce__img-pancake">
						<img src="img/pancake.png" alt="блины">
					</div>
					<div class="reduce__info">
						<p class="reduce__number">250</p>
						<p class="reduce__calorie">калорий</p>
					</div>
				</div>
			</div>

			<div class="reduce__mid">
				<div class="reduce__prod">
					<img src="img/prod-reduce.png" alt="YummyFit">
					<div class="reduce__glassful">
						<img src="img/glassful.png" alt="стакан">
					</div>
				</div>
			</div>

			<div class="reduce__right">
				<div class="reduce__circle">
					<div class="reduce__girl">
						<img src="img/girl-reduce.png" alt="девушка">
					</div>
				</div>
			</div>

		</div>

		<p class="reduce__bottom wow fadeInDown" data-wow-delay="0.1s">Почему <span class="darkish-pink">Yummy</span><span
			 class="squash">Fit</span> настолько
			эффективен?</p>
	</div>
	<div class="scroll-bth js-scroll">
		<a href="#components">
			<i class="fico fico-caret-down"></i>
		</a>
	</div>
</section>