<section class="refuse block" id="refuse">
    <div class="container">

        <h2 class="title title-refuse">Не отказывай себе во вкусной еде и худей с&nbsp;<span class="darkish-pink">Yummy</span><span
                class="squash">Fit</span></h2>

        <div class="refuse__wrap">
            <div class="refuse__left">
                <div class="refuse__prod">
                    <img src="img/prod-refuse.png" alt="YummyFIt">
                </div>
            </div>
            <div class="refuse__right">
                <ul class="refuse__list">
                    <li class="refuse__item">
                        <p class="refuse__do">Сжигай</p>
                        <p class="refuse__what">съеденные калории</p>
                    </li>
                    <li class="refuse__item">
                        <p class="refuse__do">Устраняй</p>
                        <p class="refuse__what">лишний вес и целлюлит</p>
                    </li>
                    <li class="refuse__item">
                        <p class="refuse__do">Не допусти</p>
                        <p class="refuse__what">возврата лишнего веса</p>
                    </li>
                </ul>
                <button class="form__btn form__btn-refuse ever-popup-btn">Заказать <span class="form__btn_size">со
                        скидкой</span></button>
            </div>
        </div>

    </div>
    <div class="scroll-bth js-scroll">
        <a href="#journal"></a>
    </div>
</section>