<section class="reviews block">
   <div class="container">
      <h2 class="title reviews__title">Узнай мнение людей,&nbsp;<br>которые уже применяли <span class="darkish-pink">Yummy</span><span
            class="squash">Fit</span></h2>
      <div class="reviews__slider">
         <div class="slide">
            <img src="img/photo-1.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Masha</span>
               <p class="ttl">Больше не испытываю вину&nbsp;<br>
                  из-за съеденного кусочка тортика!</p>
               <p class="desc">Хорошая штука. Мне нужно было сбросить&nbsp;<br>15 кило, и я это сделала с&nbsp;<span
                     class="darkish-pink">Yummy</span><span class="squash">Fit</span>&nbsp;<br>
                  за 1 месяц! И самое главное - я ела всё,&nbsp;<br>
                  что хотела! Больше не испытываю вину&nbsp;<br>
                  из-за съеденного кусочка тортика или&nbsp;бургера. В итоге у&nbsp;меня сейчас потрясная фигура, почти
                  полностью
                  ушел целлюлит,
                  а&nbsp;самооценка сильно повысилась. Давно хотела чувствовать себя дюймовочкой, и&nbsp;уже
                  2&nbsp;месяца
                  этим чувством наслаждаюсь!</p>
            </div>
         </div>
         <div class="slide">
            <img src="img/photo-6.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Екатерина</span>
               <p class="ttl">Двигаюсь мало, потому только
                  <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> помогает</p>
               <p class="desc">У меня уже не то здоровье, чтобы бегать&nbsp;<br> и на тренировки ходить. Двигаюсь
                  меньше, чем
                  раньше, потому складочки на боках появляются, животик. А&nbsp;это и до диабета довести может. Мне
                  дочка
                  <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> предложила пить, она с ним
                  отлично похудела. И&nbsp;вы знаете, мне тоже подошло.
                  Он&nbsp;натуральный, потому пью и не опасаюсь, что печени хуже станет. А&nbsp;животик уходит!</p>
            </div>
         </div>
         <div class="slide">
            <img src="img/photo-5.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Katya</span>
               <p class="ttl">Пью <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>, чтобы больше
                  вкусненького съесть :)</p>
               <p class="desc">Я - организатор вечеринок. Я каждый день бываю на фуршетах и застольях, иногда даже на
                  двух. Невозможно удержаться и не есть пироженки и другие вкусности.
                  Потому я&nbsp;заранее пью <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>. Это
                  очень удобно, я&nbsp;уверена, что не наберу ни одного лишнего килограмма!</p>
            </div>
         </div>
         <div class="slide">
            <img src="img/photo-4.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Леонид</span>
               <p class="ttl">Препарат удобный и без побочек</p>
               <p class="desc">Привет. У меня были проблемы со здоровьем&nbsp;<br>из-за лишнего веса. 500 метров пройду
                  - и&nbsp;одышка начинается. Пил чаи для похудения - не&nbsp;помогли.
                  Потом я пил таблетки, которые оказались
                  со&nbsp;слабительным эффектом, и&nbsp;это&nbsp;была жесть. Потом попробовал <span class="darkish-pink">Yummy</span><span
                     class="squash">Fit</span>.
                  В&nbsp;итоге за 3 месяца я сбросил 33 кило.<br>Отличное средство без&nbsp;побочек.</p>
            </div>
         </div>
         <div class="slide">
            <img src="img/photo-3.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Кристинка</span>
               <p class="ttl">Знакомые меня не узнают!</p>
               <p class="desc">Я весила 116 кг. После трех курсов <span class="darkish-pink">Yummy</span><span class="squash">Fit</span>
                  я вешу 77! И это при том, что я продолжаю
                  буквально питаться в макашницах) А фигура стала бомбезной. Старые знакомые при&nbsp;встрече не верят,
                  что
                  это я. Каждый мой день теперь проходит насыщеннее и интереснее. На меня оборачиваются незнакомые
                  парни. И вообще, все вокруг резко стали любезнее
                  и&nbsp;улыбчивее. Единственный минус - не знаю, куда теперь сплавить огромные чехлы, которые я
                  полгода
                  назад считала своей одеждой)))</p>
            </div>
         </div>
         <div class="slide">
            <img src="img/photo-2.jpg" alt="photo" class="slide__img">
            <div class="slide__content">
               <span class="name">Ольга Владимировна</span>
               <p class="ttl">Первый раз заказала через интернет.</p>
               <p class="desc">Я не знала, как заказывать через интернет препараты. Думала, это сложно. И мало ли, что
                  там придет в посылке. <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> заказать
                  очень хотела, потому что много
                  о&nbsp;нем хорошего читала, но сложно было решиться. Свой номер телефона все же оставила. Так мне
                  перезвонила девушка,
                  и&nbsp;про <span class="darkish-pink">Yummy</span><span class="squash">Fit</span> еще больше
                  рассказала,
                  и&nbsp;все данные сама записала, сама все оформила. Я только с почты посылку забрала! Пью его
                  2&nbsp;недели, ем
                  всё что хочу, никаких диет, и&nbsp;стройнею: минус 5,7&nbsp;кг. Довольна сказочно!</p>
            </div>
         </div>
      </div>
   </div>
</section>