body
	font-family: 'Roboto', Arial, Helvetica, sans-serif
	font-size: 16px

.block
	+r(1199)
		padding: 60px 0
	+r(1023)
		padding: 40px 0
	+r(767)
		padding: 30px 0
	+r(479)
		padding: 25px 0

.title
	font-size: 44px
	line-height: 44px
	text-align: center
	font-weight: 700
	margin: 0 auto
	color: #2b3541
	+r(1199)
		font-size: 36px
		line-height: 37px
	+r(1023)
		font-size: 32px
		line-height: 33px
	+r(767)
		font-size: 29px
		line-height: 30px
	+r(479)
		font-size: 26px
		line-height: 27px

.darkish-pink
	color: #de335e

.squash
	color: #f5a918



ul
	list-style: none

select:-moz-focusring, a:-moz-focusring
	color: transparent
	text-shadow: 0 0 0 #000

*
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

a
	outline: 0 !important
	&:focus, &:visited, &:active, &:hover
		outline: 0 !important

*::-moz-focus-inner
	border: 0
	outline: none




// Font icons
.fico
	display: inline-block
	font-size: 3rem
	&::before
		display: block


//scroll btn
.scroll-bth
	width: 30px
	height: 30px
	border-radius: 50%
	background-color: #f8f3e8
	cursor: pointer
	position: relative
	display: flex
	align-items: center
	justify-content: center
	margin: auto
	transition: all .3s
	&:hover
		&::after
			border-color: #de335e rgba(255,255,255,0.000001) rgba(255,255,255,0.000001)
	a
		width: 30px
		height: 30px
	&::after
		content: ''
		display: block
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-width: 8px 7.5px 0
		border-color: white rgba(255,255,255,0.000001) rgba(255,255,255,0.000001)
		pointer-events: none
	&--white
		background-color: white
		&::after
			border-color: #f8f3e8 rgba(255,255,255,0.000001) rgba(255,255,255,0.000001)
	+r(1023)
		display: none