.components
	padding-top: 108px
	padding-bottom: 89px
	background: #f7f2e8
	+r(1199)
		padding-top: 90px
		padding-bottom: 87px
	&__title
		margin-bottom: 3px
		.darkish-pink, .squash
			font-weight: 900
		+r(639)
			br
				display: none
	&__desc
		font-size: 22px
		line-height: 1.55
		color: #757b82
		text-align: center
		margin-bottom: 42px
		+r(1199)
			margin-bottom: 30px
			font-size: 20px
		+r(1023)
			font-size: 18px
		+r(767)
			font-size: 17px
			line-height: 1.2
			margin-bottom: 20px
		+r(479)
			font-size: 16px
	&__content
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: flex-start
		margin-bottom: 72px
		+r(1199)
			margin-bottom: 50px
		+r(1023)
			justify-content: space-around
			margin-bottom: 25px
		+r(479)
			margin-bottom: 10px
	.item
		width: 270px
		text-align: center
		position: relative
		z-index: 10
		&::before
			content: ''
			display: block
			position: absolute
			width: 1px
			top: -20px
			bottom: -20px
			background: #e0ded5
			left: 50%
			z-index: -1
		&:nth-child(even)
			margin-top: 80px
		&:nth-child(2)
			margin-top: 107px
		&:nth-child(3)
			margin-top: 22px
		&:nth-child(4)
			margin-top: 114px
		&:nth-child(5)
			margin-top: -8px
		&:nth-child(6)
			margin-top: 74px
		&:nth-of-type(-n+4)
			margin-bottom: 30px
		+r(1199)
			width: 230px
		+r(1023)
			width: 215px
			&:nth-child(even),&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6)
				margin-top: 0
			&:nth-child(1)
				position: relative
				top: -18px
			&:nth-child(4)
				position: relative
				top: 12px
			&:nth-of-type(-n+6)
				margin-bottom: 20px
			&::before
				display: none
		+r(767)
			width: 190px
			&:nth-child(1), &:nth-child(4)
				position: static
		+r(639)
			width: 215px
			&:nth-of-type(-n+6)
				margin-bottom: 30px
			&:nth-child(3), &:nth-child(4)
				margin-bottom: 10px
		+r(479)
			width: 230px
			&:nth-child(4)
				position: static
			+nlt
				margin-bottom: 25px
		&__photo
			margin-bottom: 29px
			max-width: 100%
			+r(1199)
				margin-bottom: 18px
			+r(1023)
				margin-bottom: 7px
			+r(479)
				margin-bottom: 2px
		&__ttl
			font-size: 24px
			font-weight: 500
			line-height: 1
			color: #2b3541
			margin-bottom: 14px
			+r(1199)
				margin-bottom: 7px
			+r(1023)
				margin-bottom: 5px
				font-size: 22px
			+r(767)
				font-size: 20px
		&__text
			font-size: 17px
			line-height: 1.29
			color: #757b82
			+r(1023)
				font-size: 16px
			+r(767)
				font-size: 15px
	&__result
		text-align: center
		margin-bottom: 20px
		+r(1023)
			margin-bottom: 0
		.ttl
			font-size: 34px
			font-weight: 900
			color: #de335e
			+r(1199)
				font-size: 32px
			+r(1023)
				font-size: 26px
			+r(639)
				font-size: 24px
			+r(479)
				font-size: 22px
		.text
			font-size: 24px
			font-weight: 500
			line-height: 1.25
			color: #2b3541
			+r(1199)
				font-size: 22px
				line-height: 25px
			+r(1023)
				font-size: 19px
				line-height: 21px
			+r(639)
				font-size: 17px
				br
					display: none
			+r(479)
				font-size: 16px
				line-height: 17px