.journal {
    background-color: #f7f2e8;
    padding: 50px;
    padding-top: 120px;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cont {
        margin-top: 53px;
        display: flex;
        justify-content: center;
        position: relative;

        &::before {
            content: '';
            width: 870px;
            height: 10px;
            background-color: #fff;
            position: absolute;
            bottom: 34px;
            left: -45px;
        }
    }

    // &__item{
    //     max-width: 120px;
    // }
    &__item:nth-child(1) {
        z-index: 5;
    }

    &__item:nth-child(2) {
        z-index: 4;
        margin-left: -29px;
    }

    &__item:nth-child(3) {
        z-index: 3;
        margin-left: -33px
    }

    &__item:nth-child(4) {
        z-index: 2;
        margin-left: -37px;
    }

    &__item:nth-child(5) {
        z-index: 1;
        margin-left: -41px;
    }

    &__item:nth-child(2n) {
        margin-top: 20px;
    }

    &__title {
        margin-top: 46px;
        font-size: 34px;
        font-weight: bold;
        color: #2b3541;
    }

    &__subtitle {
        font-size: 24px;
        font-weight: 500;
        color: #3c3c3c;
        margin-top: 7px;
        text-align: center;
    }

    &__btn {
        width: 220px;
        margin-top: 39px;
    }
}

@media screen and (max-width: 1199px) {
    .journa {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .journal__cont {
        margin-top: 25px;
    }

    .journal__cont::before {
        width: 750px;
        left: -5px;
    }

    .journal__title {
        margin-top: 10px;
        font-size: 28px;
    }

    .journal__subtitle {
        font-size: 20px;
    }

    .journal__btn {
        margin-top: 25px;
    }

}

@media screen and (max-width: 767px) {
    .journal__cont::before {
        content: none;
    }
}

@media screen and (max-width: 639px) {
    .journal .title br {
        display: none;
    }

    .journal__title {
        font-size: 21px;
    }

    .journal__subtitle {
        font-size: 17px;
    }
}

@media screen and (max-width: 479px) {
    .journal__item:nth-child(n+4) {
        display: none;
    }
}