.refuse {
	padding: 42px 0 2px;
	padding-top: 42px;
	background: url(../img/bg-refuse.png) no-repeat calc(50% - 128px) 126px;
	position: relative;
}

.refuse::before {
	content: '';
	display: block;
	position: absolute;
	top: -45px;
	height: 3rem;
	width: 100%;
	background: url('../img/line-top-white.png') no-repeat center top;
}

.refuse::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -45px;
	height: 3rem;
	width: 100%;
	background: url('../img/line-bottom-white.png') no-repeat center bottom;
}

.title-refuse {
	max-width: 750px;
	margin: 0 auto 11px;
}

.refuse__wrap {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	counter-reset: refuse;
	margin-bottom: 10px;
}

.refuse__left {
	width: 770px;
	background: url(../img/bg-bigmacs.png) no-repeat 0 125px;
	margin-right: 30px;
}

.refuse__prod {
	max-width: 473px;
	margin: 0 auto;
}

.refuse__list {
	margin-top: 78px;
	margin-bottom: 54px;
}

.refuse__item {
	padding-left: 70px;
	position: relative;
	margin-bottom: 33px;
	counter-increment: refuse;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: counter(refuse);

		font-size: 80px;
		line-height: 1;
		font-weight: 900;
		color: #f5a918;

		text-shadow: 0px 0px 15px rgba(182, 131, 35, 0.7);

		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);


	}
}

.refuse__do {
	font-size: 32px;
	line-height: 1;
	font-weight: 700;
	color: #2b3541;

	margin-bottom: 5px;
}

.refuse__what {
	font-size: 20px;
	line-height: 1;
	color: #757b82;
}

.form__btn-refuse {
	max-width: 220px;
}

@include r(1199) {
	.refuse {
		padding-top: 12px;
		padding-bottom: 10px;
	}

	.refuse__left {
		width: 650px;
		margin-right: 20px;
		background-size: contain;
	}

	.refuse__prod {
		max-width: 415px;
	}

	.refuse__do {
		font-size: 29px;
	}
}

@include r(1023) {

	.refuse::before,
	.refuse::after {
		display: none;
	}

	.refuse__wrap {
		margin-bottom: 0;
	}

	.refuse__left {
		width: 475px;
		flex-shrink: 0;
		margin-right: 15px;
	}

	.refuse__prod {
		max-width: 345px;
	}

	.refuse__list {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.refuse__item {
		padding-left: 55px;

		&::before {
			font-size: 70px;
		}
	}

	.refuse__do {
		font-size: 25px;
	}

	.refuse__what {
		font-size: 17px;
	}
}

@include r(767) {
	.refuse__wrap {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.refuse__left {
		margin-right: 0;
	}

	.refuse__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 25px;
	}

	.refuse__item {
		margin: 0 10px 20px;
		padding-left: 50px;
	}

	.form__btn-refuse {
		margin: 0 auto;
	}
}

@include r(639) {
	.refuse__list {
		align-items: flex-start;
		justify-content: flex-start;
		max-width: 270px;
		margin: 25px auto 35px;
	}

	.refuse__left {
		width: 100%;
	}

	.refuse__prod {
		max-width: 325px;
	}
}

@include r(479) {
	.refuse__prod {
		max-width: 245px;
	}

	.title-refuse {
		margin-bottom: 0;
	}

	.refuse__left {
		width: 310px;
		background-position: 0 105px;
	}

	.refuse__list {
		margin: 10px auto 25px;
	}

	.refuse__item {
		&:before {
			font-size: 60px;
		}
	}
}