.result
	padding-top: 87px
	background: url('../img/result__back.jpg') no-repeat center top
	position: relative
	padding-bottom: 10px
	+r(1199)
		padding-bottom: 0
		&::before
			bottom: -4px
	+r(1023)
		background: #f7f2e8
		&::before, &::after
			display: none
	&::before
		content: ''
		display: block
		position: absolute
		bottom: 61px
		height: 3rem
		width: 100%
		background: url('../img/line-top-white.png') no-repeat center bottom
	&::after
		content: ''
		display: block
		position: absolute
		top: -33px
		height: 3rem
		width: 100%
		background: url('../img/line-bottom-white.png') no-repeat center top

	.darkish-pink, .squash
		font-weight: 900
	&__title
		margin-bottom: 30px
		+r(1199)
			margin-bottom: 20px
		+r(1023)
			margin-bottom: 12px
	&__slider
		position: relative
		width: 100%
	.slide
		width: 370px
		max-width: 100%
		box-shadow: 0px 5px 10px 0 rgba(226, 226, 226, 0.75)
		outline: none
		margin-bottom: 15px
		margin: 10px
		img
			width: 300px
			max-width: initial
	.arr
		width: 50px
		height: 50px
		border-radius: 50%
		background: #f5a918
		display: flex
		align-items: center
		justify-content: center
		transition: all .5s
		cursor: pointer
		position: absolute
		top: 50%
		transform: translateY(-50%)
		z-index: 5
		box-shadow: 0px 5px 16px 0 rgba(226, 226, 226, 0.75)
		.fico
			color: white
			font-size: 20px
			+r(479)
				font-size: 18px
		&:hover, &:focus
			color: black
			background: white
			.fico
				color: black
		+r(639)
			width: 40px
			height: 40px
		+r(479)
			box-shadow: none
		&--right
			right: -10px
			+r(1199)
				right: 0
			+r(1023)
				right: 0
			+r(767)
				right: 5px
		&--left
			left: -10px
			+r(1199)
				left: 0
			+r(1023)
				left: 0
			+r(767)
				left: 5px
			.fico
				transform: rotate(180deg)
	.slick-dots
		display: flex
		justify-content: center
		li
			cursor: pointer
			height: 14px
			width: 14px
			border-radius: 50%
			background-color: #f1ddc0
			margin: 5px
			border: 2px solid #ffffff
		.slick-active
			background-color: #ffcf2a
		button
			display: none
	.slick-list
		+r(639)
			width: 370px
			margin: auto
		+r(479)
			width: 300px